<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header" class="header">
    <h1>Welcome to <a href="/">Gamestudio!</a></h1>
    <span th:if="${@userController.logged}" style="color: white;">
        Logged as: <span th:text="${@userController.loggedUser.login}"/><br/>
    <a href="/logout?logout">Log out</a>
</span>
</div>


<div th:fragment="footer" class="text-center p-3" style=" margin-top: 290px;">
    © 2020 Copyright:
    <a class="text-dark" href="https://tuke.com/">Tuke.com</a>
</div>

</html>
